<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfK0zbJUCxKhdI_WHaMPoBgsoFQsvYEXM</string>
	<key>GCM_SENDER_ID</key>
	<string>662908653316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akshaykotish.unc</string>
	<key>PROJECT_ID</key>
	<string>unctoken-f1338</string>
	<key>STORAGE_BUCKET</key>
	<string>unctoken-f1338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662908653316:ios:fda28976402af66b5c4a51</string>
</dict>
</plist>